pkgbase = dusk-lang-git
	pkgdesc = Compiler for the dusk programming language, a systems language with generational memory safety (development build)
	pkgver = 0.3.2.r0.g31fc15b
	pkgrel = 1
	url = https://github.com/choice404/dusk
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = git
	makedepends = xz
	depends = clang>=22
	depends = clang<23
	optdepends = git: package fetching through the dawn tool
	provides = dusk-lang
	conflicts = dusk-lang
	conflicts = dawn
	source = dusk::git+https://github.com/choice404/dusk.git
	source = dusk-seed-1.13.3.ll.xz::https://github.com/choice404/dusk/releases/download/v1.13.3/dusk.ll.xz
	sha256sums = SKIP
	sha256sums = 0b4a11859d9706c8376b59fd501a4acab1b21785e4f7035b92412b9d26e5ea0b

pkgname = dusk-lang-git
