pkgbase = dusk-lang-bin
	pkgdesc = Compiler for the dusk programming language, a systems language with generational memory safety (release binary)
	pkgver = 1.14.1
	pkgrel = 1
	url = https://github.com/choice404/dusk
	arch = x86_64
	license = MIT OR Apache-2.0
	depends = clang>=22
	depends = clang<23
	optdepends = git: package fetching through the dawn tool
	provides = dusk-lang
	conflicts = dusk-lang
	conflicts = dusk-lang-git
	conflicts = dawn
	noextract = dusk-bin-1.14.1
	noextract = dawn-bin-1.14.1
	options = !debug
	source = dusk-bin-1.14.1::https://github.com/choice404/dusk/releases/download/v1.14.1/dusk
	source = dawn-bin-1.14.1::https://github.com/choice404/dusk/releases/download/v1.14.1/dawn
	source = dusk-share-1.14.1.tar.gz::https://github.com/choice404/dusk/releases/download/v1.14.1/dusk-share.tar.gz
	sha256sums = 815e6125e853c11c4fafe9b42e387aa182a414be28a9b824f5c6109e847f7ab7
	sha256sums = 245f20cf922b52b2daaec3a0ae948d66d9ccbbe2a9ca9ac692ea34795c62509e
	sha256sums = 54e1ac5521db94c426b7226ef3e7b7995f2fc1ea7032112e910ea819f4bf4073

pkgname = dusk-lang-bin
